version: "3.7"
services:
  app:
    image: node:16.16.0
    working_dir: /usr/src/app
    restart: always
    tty: true
    ports:
      - '3000:3000'
    volumes:
      - ./:/usr/src/app
    command: >
      bash -c "yarn &&
      yarn run start"
